@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Room Booking system</h1>
    <p class="lead">Welcome to Group Four Building Surveyors<br />Developed by William Wang</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administrator Section</h2>
        <div class="well">
            <br /> <a href="~/Customers/" target="CustManager">Customers Manager</a>
            <br /> <a href="~/Rooms/" target="RoomManager">Rooms Manager</a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>About William Wang</h2>
        <div class="well">
            <p><a class="btn btn-default" target="_blank" href="https://www.linkedin.com/in/tw-william-wang/">Linkedin &raquo;</a></p>
            <p><a class="btn btn-default" target="_blank" href="https://www.dropbox.com/s/h97aebj29a2aiz2/WW_CV_New_2018.doc?dl=0">Current CV</a></p>

        </div>

    </div>
    <div class="col-md-4">
            <h2>Skills used</h2>
            <div class="well">
                <ul>
                    <li> C#/Javascript</li>
                    <li> HTMLMapper</li>
                    <li> JQUery</li>
                    <li> Entity Framework</li>
                    <li> Read Config from Web.Config</li>
                    <li> Pikaday Javascript calendar </li>
                    <li> Bootstrap</li>
                    <ul>
                        <li>Alert Message Box</li>
                        <li>Grid</li>
                        <li>Well</li>
                    </ul>
                </ul>
            </div>

        </div>

</div>